<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wheeldeal">

    <permission android:name="android.permission.ACCESS_FINE_LOCATION" android:protectionLevel="dangerous"/>
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:protectionLevel="dangerous"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WheelDeal">
        <activity android:name=".activities.CarculatorActivity"></activity>
        <activity android:name=".oldclasses.GoogleMapsActivity" />
        <activity android:name=".oldclasses.ScheduleDatesActivity" />
        <activity android:name=".oldclasses.EventDetailsActivity" />
        <activity android:name=".oldclasses.ScheduleTimesActivity" />
        <activity android:name=".activities.SameAddressCarsActivity" />
        <activity android:name=".activities.EditCarActivity" />
        <activity android:name=".activities.CarDetailsActivity" />
        <activity android:name=".oldclasses.UserCarFeedActivity" />
        <activity android:name=".activities.AddOwnCarActivity" />
        <activity android:name=".activities.CarMapActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codepath.fileprovider.FinalApp"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>